.filepond--image-preview-wrapper {
    aspect-ratio: 1 / 1 !important;
    object-fit: cover !important;
}

.filepond--image-preview {
    aspect-ratio: 1 / 1 !important;
}

.filepond--item {
    aspect-ratio: 1 / 1 !important;
}

.filepond--file {
    aspect-ratio: 1 / 1 !important;
}
